body {
  font-family: Segoe UI;
  background: #0b0f1a;
  color: white;
  margin: 0;
  padding: 20px;
}

nav {
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}
